@{
    ViewBag.Title = "ParkingLot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/Scripts/jquery-1.7.1.min.js"></script>*@
<link href="~/Content/ChargingPile.css" rel="stylesheet" />
<link href="~/Content/ParkingLot.css" rel="stylesheet" />
<div class="container parklot">
    <div class="part0">
        @*<img src="~/img/充电桩_03.jpg" />*@
        @*<img src="~/img/停车场（DS）_03.jpg" />*@
        <img src="~/img/Pickcar.jpg" />
        <div class="TextSDescription">
            <p>
                ABOUT
            </p>
            <p>
                智能停车场系统能够帮助车主快速找到合适停车场，还能很好地管理停车场秩序，提高停车场车位的利用率，缓解停车难题
            </p>
        </div>
    </div>
    <div class="part1 partcom">
        <div class="titleimg">
            <img src="~/img/停车场（DS）_07.jpg" />
        </div>
        <img src="~/img/停车场（DS）_11.jpg" />
        <div class="TextSDescription">
            <p>
                一键找停车场解决停车难问题
            </p>
            <p>
                一键找停车场首先解决的就是传统停车场的发展问题，用互联网技术解决了停车场的信息孤岛问题，用户能很快的查到停车场的位置、距离、收费标准等等一些信息，用户停车不再盲目，一键定位停车场。           
            </p>
        </div>

    </div>
    <div class="part2 partcom">
        <div class="titleimg">
            <img src="~/img/停车场（DS）_15.jpg" />
        </div>
        <div class="findcenter">
            <img src="~/img/停车场（DS）_19.jpg" />
            <ul>
                <li>

                    <img src="~/img/停车场（DS）_22.jpg" />

                    <div class="findlist">
                        <h2>停车场查询
                        </h2>
                        <img src="~/img/停车场（DS）_25.jpg" />
                        <p>
                            智能停车用户在全球各大城市随时可查询到附近停车场信息并了解目标停车场的准确位置，收费明细以及空缺车位数等精确信息。
                        </p>
                    </div>
                </li>
                <li>

                    <img src="~/img/停车场（DS）_29.jpg" />

                    <div class="findlist">
                        <h2>停车位查询
                        </h2>
                        <img src="~/img/停车场（DS）_25.jpg" />
                        <p>
                            智能停车用户可通过车辆定位系统引导车辆驶入目标停车场，智能停车导航系统提供实时精准的智能导航路线。
                        </p>
                    </div>
                </li>
                <li>

                    <img src="~/img/停车场（DS）_31.jpg" />

                    <div class="findlist">
                        <h2>停车记录查询
                        </h2>
                        <img src="~/img/停车场（DS）_25.jpg" />
                        <p>
                            智能停车用户有效记载个人停车记录方便查阅。                       
                        </p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="partcom">
        <div class="titleimg">
            <img src="~/img/停车场（DS）_35.jpg" />
        </div>
        <div class="parkprefercenter">
            @*<img src="~/img/停车场（DS）_42.jpg" />*@
            <span></span>
            <img src="~/img/停车场（DS）_39.jpg" />
            <div class="TextSDescription">
                <p>
                    价格查询
                </p>
                <p>
                    智能停车用户提供查询不同停车场价格，分时段价格，以及限免时间段，选择最优停车方案。           
                </p>
            </div>
        </div>
    </div>
    <div class="part4 partcom">
        <div class="titleimg">
            <img src="~/img/充电桩_37.jpg" />
        </div>
        <img src="~/img/停车场（DS）_51.jpg" />
    </div>
    <div class="part5 partcom">
        <div class="titleimg">
            <img src="~/img/停车场（DS）_54.jpg" />
        </div>
        <div class="experience_center">

            <div class="fl experience_center_left">
            </div>
            <div class="experience_center_right">
                <img src="~/img/停车场（DS）_61.jpg" />
                <img src="~/img/停车场（DS）_64.jpg" />
                <p>
                    1.扫二维码下载智能停车场APP
                </p>
                <p>
                    2.您仅需手机验证码即可完成注册，绑定车牌号将自动对个人账户进行扣费               
                </p>
                <p>
                    3.您可基于当前地理位置查询到附近的停车场，可详细查询该停车场的价格，距离，实时车位等相关信息
                </p>
            </div>

        </div>
        <img src="~/img/停车场（DS）_69.jpg" />
    </div>

    <div class="part6 partcom">
        <div class="titleimg">
            <img src="~/img/停车场（DS）_72.jpg" />
        </div>
        <div class="findcenter">
            <img src="~/img/停车场（DS）_76.jpg" />
            <ul>
                <li>
                    <div class="findlist">
                        <h2>在线充值
                        </h2>
                        <img src="~/img/停车场（DS）_25.jpg" />
                        <p>
                            手机APP可以给用户所有账户在线充值。                       
                        </p>
                    </div>
                </li>
                <li>
                    <div class="findlist">
                        <h2>在线支付
                        </h2>
                        <img src="~/img/停车场（DS）_25.jpg" />
                        <p>
                            可实现实时消费，在线支付。支持微信支付宝支付                       
                        </p>
                    </div>
                </li>
                <li>
                    <div class="findlist">
                        <h2>余额支付
                        </h2>
                        <img src="~/img/停车场（DS）_25.jpg" />
                        <p>
                            智能停车用户有效记载个人停车记录方便查询。                       
                        </p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
