@{
    ViewBag.Title = "RentCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ChargingPile.css" rel="stylesheet" />
<link href="~/Content/ParkingLot.css" rel="stylesheet" />
<link href="~/Content/RentCar.css" rel="stylesheet" />
<div class="container parklot rentcar">
    <div class="part0">
        <img src="~/img/rentcar.png" />
        <div class="TextSDescription">
            <p>
                ABOUT
            </p>
            <p>
                众驾分时租赁平台契合国家节能减排、绿色出行的环保理念，通过"政府引导、车企合作、企业研发与运营"为企业、社会、商圈、酒店等提供低碳化绿色出行的方式，用户通过线上随租随用，线下随用随还的闭环体系，形成共享共赢的动态长效机制，提示居民低碳出行消费的便捷性、经济性、环保性。          
            </p>
        </div>
    </div>
    <div class="part1 partcom">
        <div class="titleimg">
            <img src="~/img/租车_07.jpg" />
        </div>
        <img src="~/img/rentcar02.jpg" />
    </div>
    <div class="part2 partcom">
        <div class="titleimg">
            <img src="~/img/租车_13.jpg" />
        </div>
        <div class="findcenter">
            @*<img src="~/img/租车_20.jpg" />*@
            <img src="~/img/rentcar_05.jpg" />
            @*<img src="~/img/租车_17.jpg" />*@
            <img src="~/img/rent_03.png" />
            <div class="TextSDescription">
                <p>
                    GPS定位查看附件的站点
                </p>
                <p>
                    导航系统智能化设备定位更精确，省时省心，随时租异地还，随时租，就近还               
                </p>
            </div>

        </div>

    </div>
    <div class="partcom operation">
        <div class="titleimg">
            <img src="~/img/租车_25.jpg" />
        </div>
        <img src="~/img/rentcar_08.png" />
        <img src="~/img/租车_31.jpg" />
    </div>
    <div class="part4 partcom">
        <div class="titleimg">
            <img src="~/img/租车_35.jpg" />
        </div>
        <img src="~/img/租车_38.jpg" />
        <div class="TextSDescription">
            <p>
                全面颠覆通行市场格局
            </p>
            <p>
                新能源汽车不限行，不限号绿色环保，安全快捷，而新能源车提供的比燃油车低20%-30%的服务价格，从而降低出行成本。
分时租赁的优越性，恰恰体现在对环境的保护及个人车辆负担的减低。在分时租赁的模式下，短时间段、明确的费用计算方式，促使汽车使用者更加精细、高效地安排车辆使用计划，包括与步行、地铁、公交系统的联动，从而废气等排放得以消减。                              
            </p>
        </div>
    </div>
    <div class="part5 partcom">
        <div class="titleimg">
            <img src="~/img/租车_39_03.jpg" />
        </div>
        <div class="experience_center">

            <div class="fl experience_center_left">
            </div>
            <div class="experience_center_right">
                @*<img src="~/img/停车场（DS）_61.jpg" />*@
                <img src="~/img/rent.png" />
                <img src="~/img/停车场（DS）_64.jpg" />
                <p>
                    1.扫二维码下载众驾分时租赁APP
                </p>
                <p>
                    2.您仅需手机验证码即可完成注册，绑定车牌号将自动对个人账户进行扣费               
                </p>
                <p>
                    3.您可基于当前地理位置查询到附近的租赁站点，可详细查询该站点的车辆，距离，价格车辆等相关信息
                </p>
            </div>

        </div>
        <img src="~/img/租车_53.jpg" />
    </div>

</div>

