@{
    ViewBag.Title = "Service_Center";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
*{margin:0;padding:0;font-family:"微软雅黑";}
#banner{margin:0 auto;width:1200px;}
#con{width:1200px;height:460px;margin:0 auto;margin-top:80px;}
#con ul{margin-left:106px;}
#con ul li{width:470px;height:160px;list-style-type:none;margin-top:10px;}

.text{margin-left:10px;margin-top:10px;}
.text p{font-size:14px;color:#4c4c4c;}
</style>

    <div id="banner">
    @* <img src="~/img/sol_03.png" />*@
        <img src="~/img/sol_0300.jpg" />
    </div>
    <div id="con">
         <ul>
         	<li style="height:120px;">
            	<div class="img">
                    <img src="~/img/serv_03.png" /></div>
                <div class="text">
                    <p>客服服务中心热线：027-87688655（工作日9：00-18：00）<br/> 我们会第一时间处理您的申请</p>
                 </div>
            </li>  
            <li style="height:140px;">
            	<div class="img">
                    <img src="~/img/serv_07.png" /></div>
                 <div class="text">
                    <p>如果您有任何产品和技术问题，我们有两种途径为您服务：<br/>1、请拨打客户服务中心热线027-87688655（工作日9：00-18：00）<br/>2、请发送邮件至客服专用邮箱service@027hb.cn</p>
                 </div>
            </li>
            <li style="height:170px;">
            	<div class="img">
                    <img src="~/img/serv_11.png" /></div>
                 <div class="text">
                    <p>service@027hb.cn<br/>我们会第一时间处理您的投诉和建议<br/>如您有任何需要向高管反馈的问题，请发送邮件至<br/>advise@027hb.cn<br/>公司管理者将亲自与您沟通</p>
                 </div>
            </li>
            
         </ul>
    </div>
