@{
    ViewBag.Title = "Solution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
*{margin:0;padding:0;font-family:"微软雅黑";}


.banner{margin:0 auto;/*width:1440px;*/width:100%;min-width: 1100px;}
    .banner img
    {
        width:100%;/*min-width: 1100px;*/
        /*height:75vh;*/
    }
#con{width:1200px;/*height:300px;*/margin:0 auto;margin-top:80px;overflow:hidden;}
#con ul li{width:400px;/*height:270px;*/float:left; list-style-type:none;}
.img{width:100px;height:80px;margin:0 auto;}
.text{width:270px;/*height:220px;*/margin-left:65px;}
.p1{font-size:18px;color:#4c4c4c;margin-top:20px;text-align:center;}
.p2{font-size:14px;color:#4c4c4c;margin-top:6px;line-height:26px;text-indent:2em;}
</style>
 <div class="banner">
     <img src="~/img/solution.jpg" />
    </div>
    <div id="con">
         <ul>
         	<li>
            	<div class="img"> <img src="~/img/Solution_03.png" /></div>
                <div class="text">
                    <p class="p1">外包服务</p>
                    <p class="p2">喻天科技有限公司具有大量车联网业务和技术专家，为汽车企业提供业务和技术外包服务，使汽车企业能够更加专注于自己的核心业务，减少人力投入，降低成本，实现效益最大化。喻天科技提供的外包服务包括人力资源外包、平台运营外包系统实施外包等服务。 </p>
                 </div>
            </li>
            <li>
            	<div class="img">
                    <img src="~/img/Solution_08.png" /> </div>
                 <div class="text">
                    <p class="p1">系统建设</p>
                    <p class="p2">帮助整车厂进行车联网系统平台规划和设计，明确相关子系统建设策略规划，定义子系统之间的优先级和相互依赖关系等，从业务需求、应用系统功能、数据架构和基础服务平台等层面着手，开始车联网平台与运营相关系统的设计、开发、测试和运行服务。 </p>
                 </div>
            </li>
            <li>
            	<div class="img">
                    <img src="~/img/Solution_05.png" /></div>
                 <div class="text">
                    <p class="p1">系统建设</p>
                    <p class="p2">为整车厂提供车联网业务模式咨询和技术架构咨询服务，帮助整车厂规划和定义车联网业务策略、组织流程和IT架构，围绕最终车主用户需求，为汽车行业客户提供多种可能的商业模式设计和建议，帮助汽车企业进行互联网服务转型，定义总体演进路线图和速赢方案，以此指导车联网平台的具体建议和实施。</p>
                 </div>
            </li>
            
         </ul>
    </div>
